**/build-source-MinGW64*/
**/build/
**/third_party/
**/backup/
**/invalid/
**/.vscode/
**/.metadata
**/*.user
**/*.pdf
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.log
**/*.out
**/*.run.xml
**/*.toc
**/*.tps
